.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.9;
}

.default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.red {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.blue {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.green {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
